/*Quick Style Boilerplate*/
h1, h2, h3, h4{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

input, textarea{
    border-radius: 12px;
    border: 2px solid #bb3674 ;
    padding: 12px;
}

/*General Classes*/
.outlined {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

.purple-bg{
    background-color: #bb3674;
}

.light-bg{
    background-color: rgb(255, 250, 244);
}

.rounded{
    border-radius: 5%;
}

.dark-colour{
    color: rgb(41, 37, 31);
}

.light-colour{
    color:rgb(255, 250, 244);
}

.text-align-center{
    text-align: center;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Specific Elements*/
.hero{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(59, 50, 41, 0.575);
    background-image: url("img/fabric-texture.png");
}
.hero-vid{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.section-padding{
    padding-top: 40px;
    padding-bottom: 50px;
}

.section-padding-top-only{
    padding-top: 40px;
}

.portrait{
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}

.center-padded{
    padding-left: 20%;
    padding-right: 20%;
}

.form-button{
    border-radius: 12px;
    background-color: #bb3674 ;
    padding: 12px;
    color: rgb(255, 250, 244);
    border: none;
}

.socials-div{
    height: 100px;
    width: 100%;
}

.socials-div a:hover{
    color: rgb(209, 181, 152);
}

.portfolio-item-container{
    margin-top: 40px;
    display:block;
    text-align: center;
}

.portfolio-item{
    width: 100%;
}

.portfolio-card{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 320px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: none;
}

.portfolio-image{
    position: absolute;
    height: 100%;
    z-index: 2;
}

.portfolio-text-container{
    width: 100%;
    height: 100%;
    display: hidden;
    position: absolute;
    
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.8), rgb(0,0,0));
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.portfolio-card:hover > .portfolio-text-container{
    z-index: 2;
}

.portfolio-text{
    color: rgb(255, 250, 244);
    padding: 10px;
    width: 100%;
}
